@use "../../App.scss" as *;

.header {
  background-color: $white;
  padding: 1rem 0;

  .header-container {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    text-decoration: none;

    img {
      width: 210.32px;
      height: 68px;
      object-fit: contain;
    }
  }

  .navigation {
    display: flex;
    gap: 2rem;

    .nav-link {
      color: $text-color;
      text-decoration: none;
      font-weight: 500;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease;
      font-size: 16px;

      &.active {
        border-color: $text-color;
      }
    }
  }

  @media (max-width: 600px) {
    padding: 0.5rem 0;
    .logo img {
      width: 145px;
      height: 46.88px;
    }
    .navigation {
      gap: 1rem;
      .nav-link {
        font-size: 12px;
      }
    }
  }
}
